* {
  box-sizing: border-box;
}
.body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100vw;
  height: 90px;
  margin: 0px;
  padding: 2px 20px;
  background: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  float: left;
  padding: 10px 20px;
}

ul {
  margin: 0;
  list-style-type: none;
}
nav li {
  padding: 10px 20px;
  float: left;
}

.logo {
  font-weight: bold;
  font-size: large;
  margin: 10px;
}

#sidebar {
  float: right;
  background: #fff;
  width: 275px;
  padding: 13px 0 0 45px;
  height: 1400px;
  border-right: 1px solid #eee;
}
#sidebar h3 {
  color: #262626;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 35px 0 10px 0;
  letter-spacing: 1px;
  clear: both;
}
#cart {
  padding: 0px;
}
#cart .empty {
  color: #c2c2c2;
  font-size: 14px;
  letter-spacing: 1px;
}
#sidebar .checklist {
  padding: 0;
}

.checklist ul li {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  padding: 7px 0 7px 23px;
}
.checklist li span {
  float: left;
  width: 11px;
  height: 11px;
  margin-left: -23px;
  margin-top: 4px;
  border: 1px solid #d1d3d7;
  position: relative;
}

.product {
  position: relative;
  width: 350px;
  height: 200px;
  float: left;
  margin-right: 3px;
}

.info-large h4 {
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  font-weight: 800;
  padding: 0;
}

.price-big {
  font-size: 34px;
  font-weight: 600;
  color: #ff6868;
  margin-top: 21px;
}

.add-cart-large {
  border: 3px solid #000;
  font-size: 17px;
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  width: 246px;
  margin-top: 38px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.add-cart-large:hover {
  color: #5ff7d2;
  border-color: #5ff7d2;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.info-large h3 {
  letter-spacing: 1px;
  color: #262626;
  text-transform: uppercase;
  font-size: 14px;
  clear: left;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.colors-large li {
  float: left;
  list-style: none;
  margin-right: 7px;
  width: 16px;
  height: 16px;
}
.colors-large li a {
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 20%;
  padding: 3px;
  margin-top: 8px;
}

.sizes-large {
  margin-top: 8px;
}

.sizes-large span {
  font-weight: 600;
  color: #b0b0b0;
  padding: 1px;
}
.sizes-large span:hover {
  color: #000;
  cursor: pointer;
}

.info-large {
  position: relative;
  top: 0;
  left: 0px;
  padding: 42px;
  width: 300px;
  height: 395px;
}

#grid {
  width: 1920px;
  position: absolute;
  left: 20px;
  height: 3000px;
  top: 180px;
}

.img {
  width: 80px;
}

.img_1 {
  width: 400px;
  height: auto;
}
